html {
	scroll-behavior: smooth;
}

body {
	font-family: arial, sans-serif;
	font-size: 0.93rem;

	background-color: #f1efe7;
	color: #29261b;
}

summary {
	user-select: none;
	cursor: pointer;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
}

input[type="text"] {
	border: 1px solid #29261b;
	border-radius: 10px;
	padding: 10px;

	background-color: inherit;
	color: inherit;
}
input[type="text"]:disabled {
	background-color: #0002;
	font-style: italic;
	cursor: no-drop;
}

select {
	border: 1px solid #29261b;
	border-radius: 4px;
	padding: 2px;

	background-color: inherit;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

#history {
	display: none;
	max-height: 120px;
	overflow-y: auto;
	margin-bottom: 15px;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-grow: 1;
}

.body .inner {
	display: flex;
	flex-direction: column;
}

.logo {
	background-size: contain;
	background-repeat: no-repeat;
	aspect-ratio: 1;
	width: 60px;
}